<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <span></span>Overview
        <i
          class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"
        ></i>
      </li>
    </ul>
  </nav>
</div>
<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img
          src="assets/images/dashboard/circle.svg"
          class="card-img-absolute"
          alt="circle-image"
        />
        <h4 class="font-weight-normal mb-3">
          Utilisateur
          <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">200</h2>
        <h6 class="card-text">Increased by 15%</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img
          src="assets/images/dashboard/circle.svg"
          class="card-img-absolute"
          alt="circle-image"
        />
        <h4 class="font-weight-normal mb-3">
          Projets
          <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">75</h2>
        <h6 class="card-text">Decreased by 10%</h6>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img
          src="assets/images/dashboard/circle.svg"
          class="card-img-absolute"
          alt="circle-image"
        />
        <h4 class="font-weight-normal mb-3">
          Nouveau Posts
          <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">25</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Les posts du départements software</h4>
        <canvas
          baseChart
          [chartType]="'doughnut'"
          [datasets]="trafficChartData1"
          [labels]="trafficChartLabels1"
          [options]="trafficChartOptions1"
          [colors]="trafficChartColors"
        ></canvas>
        <div
          id="traffic-chart-legend"
          class="rounded-legend legend-vertical legend-bottom-left pt-4"
        >
          <ul>
            <li>
              <span class="legend-dots"></span>Les posts du test des
              applications
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Les posts du support aux
              utilisateurs
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Les posts du infrastructure
              exploitation production
              <span class="float-right">40%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Les posts du test des applications :</h4>
        <canvas
          baseChart
          [chartType]="'doughnut'"
          [datasets]="trafficChartData"
          [labels]="trafficChartLabels"
          [options]="trafficChartOptions"
          [colors]="trafficChartColors"
        ></canvas>
        <div
          id="traffic-chart-legend"
          class="rounded-legend legend-vertical legend-bottom-left pt-4"
        >
          <ul>
            <li>
              <span class="legend-dots"></span>Conseil en stratégie de test
              <span class="float-right">10%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Définition des scénarios des
              Tests
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Tests fonctionnels
              <span class="float-right">40%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Automatisation de Test
              <span class="float-right">15%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Tests de performance
              <span class="float-right">5%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Les posts du support aux utilisateurs</h4>
        <canvas
          baseChart
          [chartType]="'doughnut'"
          [datasets]="trafficChartData1"
          [labels]="trafficChartLabels1"
          [options]="trafficChartOptions1"
          [colors]="trafficChartColors"
        ></canvas>
        <div
          id="traffic-chart-legend"
          class="rounded-legend legend-vertical legend-bottom-left pt-4"
        >
          <ul>
            <li>
              <span class="legend-dots"></span>Helpdesk sur applications
              d’entreprise
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Gestion des incidents & problèmes
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Gestion des demandes de
              changements
              <span class="float-right">40%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Les posts du infrastructure exploitation production
        </h4>
        <canvas
          baseChart
          [chartType]="'doughnut'"
          [datasets]="trafficChartData3"
          [labels]="trafficChartLabels3"
          [options]="trafficChartOptions3"
          [colors]="trafficChartColors"
        ></canvas>
        <div
          id="traffic-chart-legend"
          class="rounded-legend legend-vertical legend-bottom-left pt-4"
        >
          <ul>
            <li>
              <span class="legend-dots"></span>Conception : infrastructure
              système et réseau
              <span class="float-right">20%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Run : Gestion des incidents,
              configuration, performance management
              <span class="float-right">30%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Build : Déploiement, gestion de
              changement des systèmes et réseaux
              <span class="float-right">40%</span>
            </li>
            <li>
              <span class="legend-dots"></span>Support : Support technique
              1-2-3, 24×7
              <span class="float-right">10%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        Le nombre des utilisateurs selon les années d'expérience
      </h4>
      <canvas
        baseChart
        [chartType]="'bar'"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [colors]="barChartColors"
      ></canvas>
    </div>
  </div>
</div>
