<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-map-marker-outline"></i>
    </span>
    Gestion des Postes
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;">Accueil</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        Gestion des Postes
      </li>
    </ol>
  </nav>
</div>

<div class="row">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Gérer les postes de l'entreprise</h4>
        <p class="card-description">Liste des postes</p>
        <div class="row">
          <div class="col-md-5 col-sm-12 mr-auto">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Chercher un poste par son nom"
              #searchBox
              (input)="searchKeywordChanged(searchBox.value)"
            />
          </div>
          <div class="col-md-5 col-sm-12 ml-auto">
            <button
              type="button"
              class="btn btn-gradient-primary btn-lg btn-block"
              (click)="openAddModal(addModal)"
            >
              Ajouter un nouveau poste
            </button>
          </div>
        </div>

        <div class="table-responsive pt-3">
          <table class="table table-bordered table-hover">
            <thead class="font-weight-bold">
              <tr class="table-primary text-center">
                <th><b>Nom</b></th>
                <th><b>Département</b></th>
                <th><b>Actions</b></th>
              </tr>
            </thead>
            <tbody *ngIf="filteredPositions">
              <tr class="text-center" *ngFor="let p of filteredPositions">
                <td>{{ p.name }}</td>
                <td>{{ p.department.name }}</td>
                <td class="justify-content-between">
                  <div class="justify-content-between">
                    <button
                      type="button"
                      class="btn btn-outline-success btn-rounded btn-icon"
                      (click)="openUpdateModal(editModal, p)"
                    >
                      <i class="mdi mdi-pencil"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-danger btn-rounded btn-icon"
                      (click)="openRemoveModal(deleteModal, p)"
                    >
                      <i class="mdi mdi-delete-forever"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <ngb-pagination
            [collectionSize]="40"
            [pageSize]="10"
            [page]="1"
            aria-label="Default pagination"
            class="d-flex justify-content-center pagination-primary"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
  #addModal
  let-modal
  class="modal fade"
  id="exampleModal-2"
  aria-labelledby="exampleModalLabel-2"
>
  <div class="modal-content">
    <div class="card">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-2">
          Ajouter Nouveau Poste
        </h5>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <form
          #addForm="ngForm"
          novalidate
          [formGroup]="positionForm"
          class="form-sample"
        >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label card-description"
                  >Nom</label
                >
                <div class="col-sm-9">
                  <input
                    [ngClass]="{ 'has-danger': formErrors.name }"
                    formControlName="name"
                    [(ngModel)]="name"
                    type="text"
                    class="form-control"
                  />
                  <div class="invalid-feedback d-block" *ngIf="formErrors.name">
                    {{ formErrors.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label card-description"
                  >Départment</label
                >
                <div class="col-sm-9">
                  <select
                    [ngClass]="{ 'has-danger': formErrors.departmentId }"
                    formControlName="departmentId"
                    class="form-control"
                  >
                    <option [ngValue]="null" disabled
                      >choisir le départment</option
                    >
                    <option *ngFor="let d of departments" [ngValue]="d.id">
                      {{ d.name }}
                    </option>
                  </select>
                  <div
                    class="invalid-feedback d-block"
                    *ngIf="formErrors.departmentId"
                  >
                    {{ formErrors.departmentId }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="addForm.invalid"
          (click)="addPosition(); modal.close()"
        >
          Ajouter
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close()">
          Annuler
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #editModal
  let-modal
  class="modal fade"
  id="exampleModal-2"
  aria-labelledby="exampleModalLabel-2"
>
  <div class="modal-content">
    <div class="card">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-2">Modifier Poste</h5>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <form
          #updateForm="ngForm"
          novalidate
          [formGroup]="positionForm"
          class="form-sample"
        >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label card-description"
                  >Nom</label
                >
                <div class="col-sm-9">
                  <input
                    [ngClass]="{ 'has-danger': formErrors.name }"
                    formControlName="name"
                    [(ngModel)]="position.name"
                    type="text"
                    class="form-control"
                  />
                  <div class="invalid-feedback d-block" *ngIf="formErrors.name">
                    {{ formErrors.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label card-description"
                  >Départment</label
                >
                <div class="col-sm-9">
                  <select
                    [ngClass]="{ 'has-danger': formErrors.departmentId }"
                    formControlName="departmentId"
                    [(ngModel)]="position.departmentId"
                    class="form-control"
                  >
                    <option [ngValue]="null" disabled
                      >choisir le départment</option
                    >
                    <option *ngFor="let d of departments" [ngValue]="d.id">
                      {{ d.name }}
                    </option>
                  </select>
                  <div
                    class="invalid-feedback d-block"
                    *ngIf="formErrors.departmentId"
                  >
                    {{ formErrors.departmentId }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          [disabled]="updateForm.invalid"
          (click)="updatePosition(position); modal.close()"
        >
          Valide
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close()">
          Annuler
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  #deleteModal
  let-modal
  class="modal fade"
  aria-labelledby="exampleModalLabel-3"
>
  <div class="modal-content">
    <div class="card">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel-3">Supprimer Poste</h5>
        <button
          type="button"
          class="close"
          (click)="modal.dismiss()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <p>Etes-vous sûr de vouloir supprimer ce Poste ?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-success"
          (click)="deletePosition(position); modal.close()"
        >
          Oui
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close()">
          Annuler
        </button>
      </div>
    </div>
  </div>
</ng-template>
